:host {
    padding: 20px;
    border: 2px solid green;
    display: flex;
    gap: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.description {
    flex: 2 0 0;
}

.info {
    flex: 1 0 0;

    span {
        font-weight: bold;
    }
}

.title {
    font-size: 32px;
    font-weight: bold;
}
