.account {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-logout {
    width: 100px;
}

.btn-add-course {
    width: 150px;
}

.info {
    width: 320px;
}

.dialog {
    margin: 10px auto;
    display: block;
}

.search {
    display: block;
    padding: 20px 0;
}
