<app-course-card *ngFor="let course of courses" [course]="course">
    <div class="btn-container">
        <button
            common-button
            class="btn-show-course"
            text="Show course"
            (click)="onShowCourse(course.id)"
        ></button>
        <ng-template [ngIf]="editable">
            <button
                common-button
                iconName="pen"
                (click)="onEditCourse(course.id)"
            ></button>
            <button
                common-button
                iconName="trash"
                (click)="onRemoveCourse(course.id)"
            ></button>
        </ng-template>
    </div>
</app-course-card>
